$skeleton-default-settings: (
	padding: 0.2em;
);

$skeleton-default-variant: (
	bg-color: #ddd,
	color: #fff
);

@mixin skeleton-defaults($settings: ()) {
	$settings: map-merge($skeleton-default-settings, $settings);
	$settings: map-merge($skeleton-default-variant, $settings);

	obg-skeleton {
		display: block;
		@include skeleton-variant-inner($settings);
		// todo: defaults styling here
	}
}

@mixin skeleton-variant($settings, $variant-name) {
	$settings: map-merge($skeleton-default-variant, $settings);

	obg-skeleton {
		&.#{$variant-name} {
			@include skeleton-variant-inner($settings);
		}
	}
}

@mixin skeleton-variant-inner($settings) {
	// todo: variant styling here
}